* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 460px;
  /* max-height: 800px; */
  height: 100%;
  /* width: 360px; */
  margin: auto;
  background-color: black;
  border-radius: 20px;
}


.Container {
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.login-container {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 80%;
}

.login-fields {
  width: 100%;
}

.top-con {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.big-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  background-image: url(../src/assets/moptro\ logo.png);
  align-self: center;
  margin-top: 30px;
}

.small-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: calc(50% + 35px);
  transform: translate(-50%, -50%);
  background: #5E5E5EB5 0% 0% no-repeat padding-box;
  mix-blend-mode: normal;
  border: 1px solid #FFFEFE00;
  opacity: 0.4;
  color: #36A546;
}

.woman {
  align-self: flex-end;
}

.middle-con {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom-con {
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(94, 94, 94, .4);
  background-color: #131917;
  box-shadow: "inset 0px 4px 0px #00000040";
  position: sticky;
  bottom: 0;
}

.bottom-con div {
  width: 100%;
  padding: 20px;
}

.bottom-con div:hover {
  cursor: pointer;
  background: #38383880 0% 0% no-repeat padding-box;
  border-radius: 8px;
}


.scroll-container::-webkit-scrollbar {
  width: 0;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

#searchbar::placeholder {
  color: #C0C4C3;
  opacity: 1;
}

.card-child:nth-child(even) {
  align-self: flex-end;
}

@media (max-width: 412px),
(max-height: 914px) {

  .App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    /* height: 800px; */
    /* width: 360px; */
    margin: auto;
    background-color: black;
    border-radius: 20px;
  }

  .Container {

    width: 100vw;
    height: 100vh;

  }
}